# Importing Required Libraries

In [140]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score

In [141]:
import matplotlib.pyplot as plt
plt.style.use("ggplot")
%matplotlib inline

# Reading the Dataset

## Training dataset

In [142]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='H95mJxwqMx9yvfdsQ7cPTV8-CxJWwLTNvO0gxBASZLid',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'ibmpredictiveanalyticsforaircraft-donotdelete-pr-rmnlchqvrumk01'
object_key = 'PM_train.xlsx'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']

df_train = pd.read_excel(body.read())
df_train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044

In [143]:
df_train.shape

(20631, 26)

In [144]:
df_train.isnull().any()

id          False
cycle       False
setting1    False
setting2    False
setting3    False
s1          False
s2          False
s3          False
s4          False
s5          False
s6          False
s7          False
s8          False
s9          False
s10         False
s11         False
s12         False
s13         False
s14         False
s15         False
s16         False
s17         False
s18         False
s19         False
s20         False
s21         False
dtype: bool

## Testing dataset

In [145]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='H95mJxwqMx9yvfdsQ7cPTV8-CxJWwLTNvO0gxBASZLid',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'ibmpredictiveanalyticsforaircraft-donotdelete-pr-rmnlchqvrumk01'
object_key = 'PM_test.xlsx'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']

df_test = pd.read_excel(body.read())
df_test.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392.0,2388,100,38.86,23.3735
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393.0,2388,100,39.02,23.3916
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393.0,2388,100,39.08,23.4166
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391.0,2388,100,39.00,23.3737
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390.0,2388,100,38.99,23.4130

In [146]:
df_test.isnull().sum()

id          0
cycle       0
setting1    0
setting2    0
setting3    0
s1          0
s2          0
s3          0
s4          0
s5          0
s6          0
s7          0
s8          0
s9          0
s10         0
s11         0
s12         0
s13         0
s14         0
s15         0
s16         0
s17         0
s18         0
s19         0
s20         0
s21         0
dtype: int64

## Truth dataset

In [147]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='H95mJxwqMx9yvfdsQ7cPTV8-CxJWwLTNvO0gxBASZLid',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'ibmpredictiveanalyticsforaircraft-donotdelete-pr-rmnlchqvrumk01'
object_key = 'PM_truth.xlsx'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']

df_truth = pd.read_excel(body.read())
df_truth.head()

   more  id
0    98   1
1    69   2
2    82   3
3    91   4
4    93   5

In [148]:
df_truth.isnull().any()

more    False
id      False
dtype: bool

# Pre-processing

In [149]:
dp=pd.DataFrame(df_test.groupby('id')['cycle'].max()).reset_index()

In [150]:
dp.columns=['id','max']

In [151]:
dp

    id  max
0    1   31
1    2   49
2    3  126
3    4  106
4    5   98
..  ..  ...
87  88   68
88  89  177
89  90  146
90  91  234
91  92  106

[92 rows x 2 columns]

In [152]:
df_truth['rtf']=df_truth['more']+dp['max']

In [153]:
df_truth

    more  id    rtf
0     98   1  129.0
1     69   2  118.0
2     82   3  208.0
3     91   4  197.0
4     93   5  191.0
..   ...  ..    ...
94   137  95    NaN
95    82  96    NaN
96    59  97    NaN
97   117  98    NaN
98    20  99    NaN

[99 rows x 3 columns]

# Calculate time to failure

In [154]:
df_truth.drop("more",axis="columns",inplace=True)

In [155]:
df_truth

    id    rtf
0    1  129.0
1    2  118.0
2    3  208.0
3    4  197.0
4    5  191.0
..  ..    ...
94  95    NaN
95  96    NaN
96  97    NaN
97  98    NaN
98  99    NaN

[99 rows x 2 columns]

In [156]:
df_test=df_test.merge(df_truth,on=['id'],how='left')
df_test["ttf"]=df_test['rtf']-df_test['cycle']
df_test.drop("rtf",axis="columns",inplace=True)
df_test

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,2388.030000,8125.550000,8.40520,0.03,392.000000,2388,100,38.860000,23.373500,128.0
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,2388.060000,8139.620000,8.38030,0.03,393.000000,2388,100,39.020000,23.391600,127.0
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,2388.030000,8130.100000,8.44410,0.03,393.000000,2388,100,39.080000,23.416600,126.0
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,2388.050000,8132.900000,8.39170,0.03,391.000000,2388,100,39.000000,23.373700,125.0
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,2388.030000,8129.540000,8.40310,0.03,390.000000,2388,100,38.990000,23.413000,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11934,92,102,0.0045,-0.0003,100,518.67,642.86,1588.09,1415.99,14.62,...,2388.140000,8125.230000,8.43830,0.03,395.000000,2388,100,38.880000,23.266900,89.0
11935,92,103,0.0017,0.0001,100,518.67,643.18,1589.53,1411.04,14.62,...,2388.170000,8123.800000,8.46210,0.03,394.000000,2388,100,38.780000,23.165200,88.0
11936,92,104,0.0022,0.0001,100,518.67,642.67,1585.19,1413.07,14.62,...,2388.190000,8120.470000,8.47990,0.03,395.000000,2388,100,38.570000,23.176400,87.0
11937,92,105,0.0016,0.0001,100,518.67,642.69,1588.70,1409.71,14.62,...,2388.160000,8124.380000,8.44090,0.03,394.000000,2388,100,38.930000,23.272600,86.0
11938,92,106,0.0001,-0.0001,100,518.67,642.81,1591.25,1408.24,1.00,...,2388.071659,8138.532015,8.42577,0.03,392.565505,2388,100,38.892894,23.336205,85.0

In [157]:
df_train['ttf']=df_train.groupby(['id'])['cycle'].transform(max)-df_train['cycle']
df_train

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442,189
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100,518.67,643.49,1597.98,1428.63,14.62,...,2388.26,8137.60,8.4956,0.03,397,2388,100,38.49,22.9735,4
20627,100,197,-0.0016,-0.0005,100,518.67,643.54,1604.50,1433.58,14.62,...,2388.22,8136.50,8.5139,0.03,395,2388,100,38.30,23.1594,3
20628,100,198,0.0004,0.0000,100,518.67,643.42,1602.46,1428.18,14.62,...,2388.24,8141.05,8.5646,0.03,398,2388,100,38.44,22.9333,2
20629,100,199,-0.0011,0.0003,100,518.67,643.23,1605.26,1426.53,14.62,...,2388.23,8139.29,8.5389,0.03,395,2388,100,38.29,23.0640,1
20630,100,200,-0.0032,-0.0005,100,518.67,643.85,1600.38,1432.14,14.62,...,2388.26,8137.33,8.5036,0.03,396,2388,100,38.37,23.0522,0

# Applying threshold

In [158]:
period=30

In [159]:
df_train['label_bc']=df_train['ttf'].apply(lambda x: 1 if x <= period else 0)

In [160]:
df_test['label_bc']=df_test['ttf'].apply(lambda x: 1 if x <= period else 0)

In [161]:
df_train

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190,191,0
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236,190,0
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442,189,0
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739,188,0
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044,187,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100,518.67,643.49,1597.98,1428.63,14.62,...,8137.60,8.4956,0.03,397,2388,100,38.49,22.9735,4,1
20627,100,197,-0.0016,-0.0005,100,518.67,643.54,1604.50,1433.58,14.62,...,8136.50,8.5139,0.03,395,2388,100,38.30,23.1594,3,1
20628,100,198,0.0004,0.0000,100,518.67,643.42,1602.46,1428.18,14.62,...,8141.05,8.5646,0.03,398,2388,100,38.44,22.9333,2,1
20629,100,199,-0.0011,0.0003,100,518.67,643.23,1605.26,1426.53,14.62,...,8139.29,8.5389,0.03,395,2388,100,38.29,23.0640,1,1
20630,100,200,-0.0032,-0.0005,100,518.67,643.85,1600.38,1432.14,14.62,...,8137.33,8.5036,0.03,396,2388,100,38.37,23.0522,0,1

In [162]:
df_test

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,8125.550000,8.40520,0.03,392.000000,2388,100,38.860000,23.373500,128.0,0
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,8139.620000,8.38030,0.03,393.000000,2388,100,39.020000,23.391600,127.0,0
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,8130.100000,8.44410,0.03,393.000000,2388,100,39.080000,23.416600,126.0,0
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,8132.900000,8.39170,0.03,391.000000,2388,100,39.000000,23.373700,125.0,0
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,8129.540000,8.40310,0.03,390.000000,2388,100,38.990000,23.413000,124.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11934,92,102,0.0045,-0.0003,100,518.67,642.86,1588.09,1415.99,14.62,...,8125.230000,8.43830,0.03,395.000000,2388,100,38.880000,23.266900,89.0,0
11935,92,103,0.0017,0.0001,100,518.67,643.18,1589.53,1411.04,14.62,...,8123.800000,8.46210,0.03,394.000000,2388,100,38.780000,23.165200,88.0,0
11936,92,104,0.0022,0.0001,100,518.67,642.67,1585.19,1413.07,14.62,...,8120.470000,8.47990,0.03,395.000000,2388,100,38.570000,23.176400,87.0,0
11937,92,105,0.0016,0.0001,100,518.67,642.69,1588.70,1409.71,14.62,...,8124.380000,8.44090,0.03,394.000000,2388,100,38.930000,23.272600,86.0,0
11938,92,106,0.0001,-0.0001,100,518.67,642.81,1591.25,1408.24,1.00,...,8138.532015,8.42577,0.03,392.565505,2388,100,38.892894,23.336205,85.0,0

# Splitting the dataset

In [163]:
x_train=df_train.iloc[:,:-1].values

In [164]:
y_train=df_train.iloc[:,-1:].values

In [165]:
from sklearn.model_selection import train_test_split as tts

In [166]:
x_train,x_test,y_train,y_test=tts(x_train,y_train,test_size=0.2,random_state=0)

# Model Building

## Logistic Regression

In [167]:
from sklearn.linear_model import LogisticRegression
model_lr=LogisticRegression()
model_lr.fit(x_train,y_train)

LogisticRegression()

In [168]:
y_predlog=model_lr.predict(x_test)

In [169]:
from sklearn.metrics import accuracy_score as acs

In [170]:
acs(y_test,y_predlog)

0.9983038526774897

In [171]:
from sklearn.metrics import confusion_matrix as cm

In [172]:
cm(y_test,y_predlog)

array([[3515,    2],
       [   5,  605]])

## Random Forest

In [173]:
from sklearn.ensemble import RandomForestClassifier

In [174]:
model_rf=RandomForestClassifier(n_estimators=5000, criterion='gini', max_depth=None, min_samples_split=3,
                              min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='sqrt',
                              max_leaf_nodes=None, min_impurity_decrease=0.0, bootstrap=True, oob_score=False, 
                              n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, 
                              ccp_alpha=0.0, max_samples=None)

In [175]:
model_rf.fit(x_train,y_train)

RandomForestClassifier(max_features='sqrt', min_samples_split=3,
                       n_estimators=5000)

In [176]:
y1_predlog=model2.predict(x_test)

In [177]:
acs(y_test,y1_predlog)

1.0

# IBM Model Endpoint

In [178]:
from ibm_watson_machine_learning import APIClient
wml_credentials={
    "url":"https://us-south.ml.cloud.ibm.com",
    "apikey" :"gDD09sX6I55MvqO0c92YsKLieC7VDgMLCKK1MbCuTii0"
}
client=APIClient(wml_credentials)

In [179]:
def guid_from_space_name(client, space_name):
    space = client.spaces.get_details()
    return(next(item for item in space['resources'] if item ['entity']['name'] == space_name)['metadata']['id'])

In [180]:
space_uid = guid_from_space_name (client, 'cloud_model_space')
print("Space UID ="+ space_uid)
client.set.default_space(space_uid)

Space UID =c686575b-eacf-4bf8-b750-c8e703a4bc6e

'SUCCESS'

In [181]:
client.software_specifications.list()

-----------------------------  ------------------------------------  ----
NAME                           ASSET_ID                              TYPE
default_py3.6                  0062b8c9-8b7d-44a0-a9b9-46c416adcbd9  base
kernel-spark3.2-scala2.12      020d69ce-7ac1-5e68-ac1a-31189867356a  base
pytorch-onnx_1.3-py3.7-edt     069ea134-3346-5748-b513-49120e15d288  base
scikit-learn_0.20-py3.6        09c5a1d0-9c1e-4473-a344-eb7b665ff687  base
spark-mllib_3.0-scala_2.12     09f4cff0-90a7-5899-b9ed-1ef348aebdee  base
pytorch-onnx_rt22.1-py3.9      0b848dd4-e681-5599-be41-b5f6fccc6471  base
ai-function_0.1-py3.6          0cdb0f1e-5376-4f4d-92dd-da3b69aa9bda  base
shiny-r3.6                     0e6e79df-875e-4f24-8ae9-62dcc2148306  base
tensorflow_2.4-py3.7-horovod   1092590a-307d-563d-9b62-4eb7d64b3f22  base
pytorch_1.1-py3.6              10ac12d6-6b30-4ccd-8392-3e922c096a92  base
tensorflow_1.15-py3.6-ddl      111e41b3-de2d-5422-a4d6-bf776828c4b7  base
autoai-kb_rt22.2-py3.10        125b6d9a-5b1f-5e8d-972a-b251688ccf40  base
runtime-22.1-py3.9             12b83a17-24d8-5082-900f-0ab31fbfd3cb  base
scikit-learn_0.22-py3.6        154010fa-5b3b-4ac1-82af-4d5ee5abbc85  base
default_r3.6                   1b70aec3-ab34-4b87-8aa0-a4a3c8296a36  base
pytorch-onnx_1.3-py3.6         1bc6029a-cc97-56da-b8e0-39c3880dbbe7  base
kernel-spark3.3-r3.6           1c9e5454-f216-59dd-a20e-474a5cdf5988  base
pytorch-onnx_rt22.1-py3.9-edt  1d362186-7ad5-5b59-8b6c-9d0880bde37f  base
tensorflow_2.1-py3.6           1eb25b84-d6ed-5dde-b6a5-3fbdf1665666  base
spark-mllib_3.2                20047f72-0a98-58c7-9ff5-a77b012eb8f5  base
tensorflow_2.4-py3.8-horovod   217c16f6-178f-56bf-824a-b19f20564c49  base
runtime-22.1-py3.9-cuda        26215f05-08c3-5a41-a1b0-da66306ce658  base
do_py3.8                       295addb5-9ef9-547e-9bf4-92ae3563e720  base
autoai-ts_3.8-py3.8            2aa0c932-798f-5ae9-abd6-15e0c2402fb5  base
tensorflow_1.15-py3.6          2b73a275-7cbf-420b-a912-eae7f436e0bc  base
kernel-spark3.3-py3.9          2b7961e2-e3b1-5a8c-a491-482c8368839a  base
pytorch_1.2-py3.6              2c8ef57d-2687-4b7d-acce-01f94976dac1  base
spark-mllib_2.3                2e51f700-bca0-4b0d-88dc-5c6791338875  base
pytorch-onnx_1.1-py3.6-edt     32983cea-3f32-4400-8965-dde874a8d67e  base
spark-mllib_3.0-py37           36507ebe-8770-55ba-ab2a-eafe787600e9  base
spark-mllib_2.4                390d21f8-e58b-4fac-9c55-d7ceda621326  base
autoai-ts_rt22.2-py3.10        396b2e83-0953-5b86-9a55-7ce1628a406f  base
xgboost_0.82-py3.6             39e31acd-5f30-41dc-ae44-60233c80306e  base
pytorch-onnx_1.2-py3.6-edt     40589d0e-7019-4e28-8daa-fb03b6f4fe12  base
pytorch-onnx_rt22.2-py3.10     40e73f55-783a-5535-b3fa-0c8b94291431  base
default_r36py38                41c247d3-45f8-5a71-b065-8580229facf0  base
autoai-ts_rt22.1-py3.9         4269d26e-07ba-5d40-8f66-2d495b0c71f7  base
autoai-obm_3.0                 42b92e18-d9ab-567f-988a-4240ba1ed5f7  base
pmml-3.0_4.3                   493bcb95-16f1-5bc5-bee8-81b8af80e9c7  base
spark-mllib_2.4-r_3.6          49403dff-92e9-4c87-a3d7-a42d0021c095  base
xgboost_0.90-py3.6             4ff8d6c2-1343-4c18-85e1-689c965304d3  base
pytorch-onnx_1.1-py3.6         50f95b2a-bc16-43bb-bc94-b0bed208c60b  base
autoai-ts_3.9-py3.8            52c57136-80fa-572e-8728-a5e7cbb42cde  base
spark-mllib_2.4-scala_2.11     55a70f99-7320-4be5-9fb9-9edb5a443af5  base
spark-mllib_3.0                5c1b0ca2-4977-5c2e-9439-ffd44ea8ffe9  base
autoai-obm_2.0                 5c2e37fa-80b8-5e77-840f-d912469614ee  base
spss-modeler_18.1              5c3cad7e-507f-4b2a-a9a3-ab53a21dee8b  base
cuda-py3.8                     5d3232bf-c86b-5df4-a2cd-7bb870a1cd4e  base
runtime-22.2-py3.10-xc         5e8cddff-db4a-5a6a-b8aa-2d4af9864dab  base
autoai-kb_3.1-py3.7            632d4b22-10aa-5180-88f0-f52dfb6444d7  base
-----------------------------  ------------------------------------  ----
Note: Only first 50 records were displayed. To display more use 'limit' parameter.

In [182]:
software_spec_uid = client.software_specifications.get_uid_by_name("runtime-22.1-py3.9")
software_spec_uid

'12b83a17-24d8-5082-900f-0ab31fbfd3cb'

In [183]:
model_details = client.repository.store_model(model=model_lr,meta_props ={
    client.repository.ModelMetaNames.NAME:"engine_model",
    client.repository.ModelMetaNames.TYPE:"scikit-learn_1.0",
    client.repository.ModelMetaNames.SOFTWARE_SPEC_UID:software_spec_uid
    
})
model_id=client.repository.get_model_id(model_details)

In [184]:
model_id

'3927a809-fe68-431d-bc45-088798fa0995'

In [185]:
x_train[0]

array([ 2.70000e+01,  1.08000e+02, -4.80000e-03,  0.00000e+00,
        1.00000e+02,  5.18670e+02,  6.42500e+02,  1.58658e+03,
        1.41020e+03,  1.46200e+01,  2.16100e+01,  5.53290e+02,
        2.38810e+03,  9.07818e+03,  1.30000e+00,  4.74700e+01,
        5.21280e+02,  2.38810e+03,  8.15268e+03,  8.44090e+00,
        3.00000e-02,  3.94000e+02,  2.38800e+03,  1.00000e+02,
        3.87300e+01,  2.33405e+01,  4.80000e+01])

In [186]:
model_lr.predict([[ 2.70000e+01,  1.08000e+02, -4.80000e-03,  0.00000e+00,
        1.00000e+02,  5.18670e+02,  6.42500e+02,  1.58658e+03,
        1.41020e+03,  1.46200e+01,  2.16100e+01,  5.53290e+02,
        2.38810e+03,  9.07818e+03,  1.30000e+00,  4.74700e+01,
        5.21280e+02,  2.38810e+03,  8.15268e+03,  8.44090e+00,
        3.00000e-02,  3.94000e+02,  2.38800e+03,  1.00000e+02,
        3.87300e+01,  2.33405e+01,  4.80000e+01]])

array([0])